.ant-table-thead > tr > th {
  background: white;
}

.title {
  margin-top: 2%;
  margin-bottom: 1%;
}

.margin0 {
  margin: 0px;
}

.description {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}
