.welldone-img {
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.finished-text {
  font-size: 27px;
  margin-top: 25%;
}
