.btn-start {
  margin-top: 22px;
}

#card,
#stepDiv {
  padding: 20px !important;
}

.feedback-modal {
  top: 200px;
  /*left: -79px;*/
}
.modal-content{
    align: center;
}

.hr {
    color: #43978D;
}