.topStatCard {
  margin-left: 3%;
  margin-top: 0%;
  margin-bottom: 5%;
}
.statCard {
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.clientsStat {
  margin-left: 3%;
  margin-top: 3%;
}
.appointmentsCard {
  margin-left: 2%;
  margin-top: 1.5%;
}
