@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.logoContainer {
  margin: 16px 28px 16px 24px;
}

.logo {
  width: 31px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
}

.appName {
  color: white;
  font-weight: bold;
  margin-left: 16px;
}

.pageSpinner {
  margin: 60%;
}

.normalMargin {
  margin: 10px 0px 20px 0px;
}

.mobileFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  z-index: 10000;
}

.bottomMenu {
  margin: 0;
  line-height: 64px;
}

.mobileMenuItem {
  padding-left: 25px;
  padding-right: 15px;
  width: 20%;
}

.badge {
  height: 24px;
  line-height: 24px;
  min-width: 24px;
  margin-right: 20px;
  font-size: 14.4px;
}

.header {
  background-color: white;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
